@using PersonalTimeSheet.HtmlHelper
@model PersonalTimeSheet.Models.RowListViewModel

@{
    ViewBag.Title = "List";
}

<table>
    <tr id="tableHeader">
       <td>
            Title
        </td>
        <td>
            Description
        </td>
       <td>
            Time Spent
        </td>
    </tr>
    @foreach (var p in Model.Rows)
    {
        Html.RenderPartial("RowSummary", p); 
    }
</table>

<div class="pager">
    @Html.PageLinks(Model.Info, x => Url.Action("List", new {page = x}))
</div>

<div style="display: inline-block;">
    @using (Html.BeginForm("NewRow", "Row"))
    {          
        <input class="actionButtons" type="submit" value="Add New Task" />
    }
</div>